.board_container {
    max-width: 900px;
    padding-left: 320px;
    padding-top: 50px;
    background-color: #F6F7F8;
}

.headline {
    margin-bottom: 50px;
    color: #2A3647;
    font-size: 50px;
    font-weight: bold;
}

h3 {
    color: #43526e;
    font-weight: bold;
}

.kanban_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.kanban_section {
    width: 252px;
    display: flex;
}

.section_header {
    width: 252px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_task_btn {
    height: 25px;
    width: 25px;
    border: 2px solid;
    border-color: #2a3647;
    border-radius: 6px;
    color:#2a3647;
    font-weight: bold;
    font-size: 18px;
}