* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "inter";
}

@font-face {
  font-family: "Inter";
  src: url("../assets/font/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 348px;
  background-color: white;
}

header h1 {
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter";
}

.help-button {
  background-color: white;
  cursor: pointer;
  border: 0;
  transition: transform 0.2s ease;
}

.help-button:hover {
  transform: scale(1.25);
}

nav {
  background-color: #2a3647;
  position: fixed;
  top: 0;
  font-size: 16px;
  font-weight: 200;
  height: 100vh;
  width: 232px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logonav {
  width: 100px;
  padding: 65px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 200px;
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #2a3647;
  border: none;
  padding: 10px 65px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: #2a3d59;
}

.menu-button.active {
  background-color: #091931;
}

.menu-button img {
  width: 24px;
  height: 24px;
}

.menu-button span {
  font-family: "Inter";
  font-weight: 200;
  font-size: 16px;
  color: #cdcdcd;
}

.legal-policy {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
  width: 100%;
}

.legal-policy-background {
  width: 100%;
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.legal-policy-background.active {
  background-color: #091931;
}

.legal-policy-button {
  background: none;
  border: none;
  color: #cdcdcd;
  font-family: "Inter";
  font-weight: 200;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  transition: color 0.3s, transform 0.2s;
}

.legal-policy-button:hover {
  color: #29abe2;
  transform: scale(1.05);
}
